<a href="https://colab.research.google.com/github/dlopezav/MetNumUN2021II/blob/main/Lab1/dlopezav_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures
#Editado por Diego Felipe Lopez

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [1]:
my_string1 = 'Welcome to'
my_string2 = "Colombia"
print(my_string1 + ' ' + my_string2)

Welcome to Colombia

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [2]:
my_int = 20
print(my_int)
print(type(my_int))

20
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [3]:
my_string = "8700"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [4]:
my_string = "100234"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [5]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [6]:
print("Addition ", 8+8)
print("Subtraction ", 100-89)
print("Multiplication ", 4*4)
print("Division ", 1000/2000)
print('exponent', 4**8)

Addition  16
Subtraction  11
Multiplication  16
Division  0.5
exponent 65536

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [8]:
print(100/4)
print(100.0/4)

25.0
25.0

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [9]:
my_list = ['Diego',1,"Daniel","Camilo"]
print(my_list)

['Diego', 1, 'Daniel', 'Camilo']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [11]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [12]:
my_list = ['Diego',1,"Daniel","Camilo"]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

4
Diego
Camilo

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [13]:
my_list = ['Diego',1,"Daniel","Camilo"]
my_list[2] = 'Ernesto'
print(my_list)

['Diego', 1, 'Ernesto', 'Camilo']

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [18]:
my_list = ['Diego',1,"Daniel","Camilo"]
print(my_list[2:4])

['Daniel', 'Camilo']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [19]:
print(my_list[2:])

['Daniel', 'Camilo']

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [20]:
my_list = ['Welcome', 'Colombia']
my_list.append('Geeks')
print(my_list)

['Welcome', 'Colombia', 'Geeks']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [21]:
my_list.remove('Welcome')
print(my_list)

['Colombia', 'Geeks']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [22]:
my_tuple = ('Welcome','to','Colombia')
print(my_tuple[0:1])

('Welcome',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [24]:
stock_list = ['ING','FRIV','TW','ING','IBM','FB','TW','FRIV']
stock_set = set(stock_list)
print(stock_set)

{'TW', 'FB', 'IBM', 'ING', 'FRIV'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [25]:
my_dic = {'IGN':'Instagram', 'TW':'Twitter', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [26]:
print(my_dic['IGN'])

Instagram

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [27]:
my_dic['IGN'] = 'Tu papá'
print(my_dic['IGN'])

Tu papá

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [28]:
print(my_dic.keys())

dict_keys(['IGN', 'TW', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [32]:
my_str = 'Welcome to Colombia'
print(my_str[2:15])

lcome to Colo

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [33]:
print('Counting the number of o appears in this sentence'.count('o'))
print('The first time i appears in this sentence'.find('i'))
print('all the e in this sentence now becomes o'.replace('a','e'))

3
5
ell the e in this sentence now becomes o

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [34]:
Time = '2021-08-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-08-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [35]:
my_time = 'Hour: {}, Minute:{}'.format('05','49')
print(my_time)

Hour: 05, Minute:49

Another way to format a string is to use the % symbol.

In [36]:
print('the e number is %f'%2.7)
print('%s to %s'%('Welcome','Colombia'))

the e number is 2.700000
Welcome to Colombia

In [37]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [38]:
print(8 == 9)
print(10 == 10)
print(1231 != 4321)
print(9 >= 9)
print(2 >= 3)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [40]:
print(4 > 2 and 4 > 1)
print(4 > 2 and 4 < 1) 
print(4 > 2 or 4 < 1)
print(4 < 2 and 4 < 1)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [41]:
print((8 > 2 or 1 < 9) and (9!=3 and 9>3) and not ( 7 < 2 or 1 < 7 and (7!=3 and 7>3)))
print(8 > 2 or 1 < 9 and (9!=3 and 9>3) and not ( 7 < 2 or 1 < 3 and (7!=3 and 7>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [43]:
i = 9
if i == 9:
    print('i==9 is True')

i==9 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [44]:
p = 7 > 0
q = 2 > 7
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [45]:
i = 0
while i < 10:
    print(i)
    i += 2

0
2
4
6
8

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [46]:
for i in ["a","b","c","d","e"]:
    print(i)

a
b
c
d
e

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [50]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [49]:
stocks = ['ING','FRIV','TW','ING','IBM','FB','TW','FRIV']
selected = ['ING','TW']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['FRIV', 'IBM', 'FB', 'FRIV']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [51]:
stocks = ['ING','FRIV','TW','ING','IBM','FB','TW','FRIV']
for i in stocks:
    print(i)
    if i == 'FB':
        break

ING
FRIV
TW
ING
IBM
FB

In [52]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'V':
        break

AAPL
GOOG
IBM
FB
F
V

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [53]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**3)
print(squares)

[1, 8, 27, 64, 125]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [55]:
list = [10,20,30,40,50]
squares = [x**3 for x in list]
print(squares)

[1000, 8000, 27000, 64000, 125000]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [57]:
stocks = ['ING','FRIV','TW','IBM','FB']
selected = ['FRIV','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['FRIV', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [59]:
print([(x, y) for x in [10,20,30] for y in [30,10,40] if x != y])
print([str(x)+' vs '+str(y) for x in ['ING','FRIV','TW','IBM','FB'] for y in ['ING','FRIV','TW','IBM','FB'] if x!=y])

[(10, 30), (10, 40), (20, 30), (20, 10), (20, 40), (30, 10), (30, 40)]
['ING vs FRIV', 'ING vs TW', 'ING vs IBM', 'ING vs FB', 'FRIV vs ING', 'FRIV vs TW', 'FRIV vs IBM', 'FRIV vs FB', 'TW vs ING', 'TW vs FRIV', 'TW vs IBM', 'TW vs FB', 'IBM vs ING', 'IBM vs FRIV', 'IBM vs TW', 'IBM vs FB', 'FB vs ING', 'FB vs FRIV', 'FB vs TW', 'FB vs IBM']

In [60]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['ING','FRIV','TW','IBM','FB'] for y in ['ING','FRIV','TW','IBM','FB'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['ING vs FRIV', 'ING vs TW', 'ING vs IBM', 'ING vs FB', 'FRIV vs ING', 'FRIV vs TW', 'FRIV vs IBM', 'FRIV vs FB', 'TW vs ING', 'TW vs FRIV', 'TW vs IBM', 'TW vs FB', 'IBM vs ING', 'IBM vs FRIV', 'IBM vs TW', 'IBM vs FB', 'FB vs ING', 'FB vs FRIV', 'FB vs TW', 'FB vs IBM']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [61]:
def EXP(x,y):
    return x**y
print(EXP(24,2))
print(EXP(3,4))

576
81

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [62]:
def say_hi():
    print('Welcome to Colombia')
say_hi()

Welcome to Colombia

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [63]:
print(range(12))
print(range(3,11))
print(range(3,11,4))

range(0, 12)
range(3, 11)
range(3, 11, 4)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [65]:
tickers = ['ING','FRIV','TW','ING','IBM','FB','TW','FRIV']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
ING
FRIV
TW
ING
IBM
FB
TW
FRIV

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [67]:
print(list)
del list
list

[10, 20, 30, 40, 50]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [68]:
tickers = ['ING','FRIV','TW','ING','IBM','FB','TW','FRIV']
print(list(map(len,tickers)))

[3, 4, 2, 3, 3, 2, 2, 4]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
list(map(lambda x: x/(x+1), range(10)))

[0.0,
 0.5,
 0.6666666666666666,
 0.75,
 0.8,
 0.8333333333333334,
 0.8571428571428571,
 0.875,
 0.8888888888888888,
 0.9]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [73]:
list(map(lambda x, y: x+2*x, [10,20,30,40,50],[50,40,30,20,10]))

[30, 60, 90, 120, 150]

**sorted()** takes a list or set and returns a new sorted list

In [74]:
sorted([44,55,22,123,321])

[22, 44, 55, 123, 321]

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [75]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[0])

[('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71), ('MSFT', 69), ('WMT', 75.32)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [76]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[0],reverse = True)

[('WMT', 75.32), ('MSFT', 69), ('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [77]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[0])
print(price_list)

[('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71), ('MSFT', 69), ('WMT', 75.32)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [79]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [80]:
instagram = stock('IGN', 100, 200, 20109375)
twitter = stock('TW', 800, 900, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [81]:
instagram.ticker
twitter.print_return()
twitter.update(900.2,913.0)
twitter.print_return()

0.125
0.014219062430570917

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [83]:
instagram.ceo = 'Mark Zuckerberg'
instagram.ceo

'Mark Zuckerberg'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [84]:
dir(instagram)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [86]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [87]:
bb = child('bb')
print(bb.name)
bb.update(100,102)
print(bb.open)
print(bb.close)
print(bb.print_return())

bb
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [89]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [90]:
price_list = [100, 200, 300, 400, 500, 600]
price_array = np.array(price_list)
print(price_array, type(price_array))

[100 200 300 400 500 600] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [91]:
Ar = np.array([[1,1],[2,2]])
print(Ar, type(Ar))

[[1 1]
 [2 2]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [92]:
print(Ar[0])
print(Ar[1])

[1 1]
[2 2]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [93]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [1 2]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [94]:
print(np.log(price_array))

[4.60517019 5.29831737 5.70378247 5.99146455 6.2146081  6.39692966]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [95]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

350.0
170.78251276599332
2100
600

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [96]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [97]:
price = [100, 200, 300, 400, 500, 600]
s = pd.Series(price)
s

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

We can customize the indices of a new Series:

In [98]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64

In [99]:
s = pd.Series(price,index = ['0','1','2','3','4','5'])
s

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [100]:
s.index = [66,55,44,33,22,11]
s

66    100
55    200
44    300
33    400
22    500
11    600
dtype: int64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [103]:
print(s[0:])
print(s[:-1])

66    100
55    200
44    300
33    400
22    500
11    600
dtype: int64
66    100
55    200
44    300
33    400
22    500
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [104]:
print(s[44])
s[44] = 0
print(s)

300
66    100
55    200
44      0
33    400
22    500
11    600
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [105]:
s = pd.Series(price, name = 'Nombre lista')
print(s)
print(s.name)

0    100
1    200
2    300
3    400
4    500
5    600
Name: Nombre lista, dtype: int64
Nombre lista

We can get the statistical summaries of a Series:

In [106]:
print(s.describe())

count      6.000000
mean     350.000000
std      187.082869
min      100.000000
25%      225.000000
50%      350.000000
75%      475.000000
max      600.000000
Name: Nombre lista, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [107]:
time_index = pd.date_range('2021-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')
2021-01-01    100
2021-01-02    200
2021-01-03    300
2021-01-04    400
2021-01-05    500
2021-01-06    600
Freq: D, Name: Nombre lista, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [109]:
s.index = [8,7,6,5,4,3]
print(s)
print(s[7])

8    100
7    200
6    300
5    400
4    500
3    600
Name: Nombre lista, dtype: int64
200

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [110]:
print(s.iloc[4])

500

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [111]:
s.index = time_index
print(s['2021-01-03'])

300

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [113]:
print(s['2021-01-03':'2017-01-05'])

Series([], Freq: D, Name: Nombre lista, dtype: int64)

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [114]:
print(s[s < np.std(s)] )
print([(s > np.mean(s)) & (s < np.std(s) + 1.64*np.std(s))])

2021-01-01    100
Freq: D, Name: Nombre lista, dtype: int64
[2021-01-01    False
2021-01-02    False
2021-01-03    False
2021-01-04     True
2021-01-05    False
2021-01-06    False
Freq: D, Name: Nombre lista, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [115]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 10.4 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=a7977e1d7215cf91c8d1d098374f5ba71aaeaa2b12d7f34c45af28a0d6d8bdec
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [120]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.84, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.310665, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.896729, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.5, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.64877, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.895, 'navPrice': None, 'averageDailyVolume10Day': 67784928, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 67784928, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.35552, 'regularMarketVolume': 65076405, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2394234028032, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.515, 'ask': 144.97, 'askSize': 1400, 'volume': 65076405, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.86, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1800, 'dayHigh': 144.895, 'regularMarketPrice': 144.84, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379047  24.402100  23.609061  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898667  41.059100  40.630476  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831633  40.848393  40.520342  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

We will create a Series named "nflx" whose values are NETFLIX's daily closing prices, which are of course indexed by dates:

In [122]:
import yfinance as yf

nflx = yf.Ticker("NFLX")

# get stock info
print(nflx.info)

# get historical market data
nflx_table = aapl.history(start="2016-01-01",  end="2017-12-31")
nflx_table

{'zip': '95032', 'sector': 'Communication Services', 'fullTimeEmployees': 9400, 'longBusinessSummary': 'Netflix, Inc. provides entertainment services. It offers TV series, documentaries, and feature films across various genres and languages. The company provides members the ability to receive streaming content through a host of Internet-connected devices, including TVs, digital video players, television set-top boxes, and mobile devices. It also provides DVDs-by-mail membership services. The company has approximately 204 million paid members in 190 countries. Netflix, Inc. was founded in 1997 and is headquartered in Los Gatos, California.', 'city': 'Los Gatos', 'phone': '408-540-3700', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.netflix.com', 'maxAge': 1, 'address1': '100 Winchester Circle', 'industry': 'Entertainment', 'ebitdaMargins': 0.22517, 'profitMargins': 0.15921, 'grossMargins': 0.42290002, 'operatingCashflow': 1839593984, 'revenueGrowth': 0.194, 'operatingMargins': 0.22027999, 'ebitda': 6211297792, 'targetLowPrice': 340, 'recommendationKey': 'buy', 'grossProfits': 9719737000, 'freeCashflow': 14203352064, 'targetMedianPrice': 646.5, 'currentPrice': 628.29, 'earningsGrowth': 0.868, 'currentRatio': 1.226, 'returnOnAssets': 0.097200006, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 627.76, 'debtToEquity': 129.424, 'returnOnEquity': 0.37862998, 'targetHighPrice': 971, 'totalCash': 7777529856, 'totalDebt': 17943123968, 'totalRevenue': 27585138688, 'totalCashPerShare': 17.573, 'financialCurrency': 'USD', 'revenuePerShare': 62.334, 'quickRatio': 1.092, 'recommendationMean': 2.1, 'exchange': 'NMS', 'shortName': 'Netflix, Inc.', 'longName': 'Netflix, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'NFLX', 'messageBoardId': 'finmb_32012', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 10.449, 'beta3Year': None, 'enterpriseToEbitda': 46.406, '52WeekChange': 0.18384457, 'morningStarRiskRating': None, 'forwardEps': 12.88, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 442596000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 31.324, 'sharesShort': 9185120, 'sharesPercentSharesOut': 0.0208, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.82074, 'netIncomeToCommon': 4391860224, 'trailingEps': 9.651, 'lastDividendValue': None, 'SandP52WeekChange': 0.3047781, 'priceToBook': 20.057783, 'heldPercentInsiders': 0.01528, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 2.42, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 436775752, 'beta': 0.713227, 'enterpriseValue': 288244170752, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1436918400, 'lastSplitFactor': '7:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.879, 'priceToSalesTrailing12Months': 10.08074, 'dateShortInterest': 1632960000, 'pegRatio': 1.31, 'ytdReturn': None, 'forwardPE': 48.780277, 'lastCapGain': None, 'shortPercentOfFloat': 0.0211, 'sharesShortPriorMonth': 10187662, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 633.8, 'regularMarketOpen': 638, 'twoHundredDayAverage': 538.4443, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 639.42, 'navPrice': None, 'averageDailyVolume10Day': 3160600, 'regularMarketPreviousClose': 633.8, 'fiftyDayAverage': 601.20056, 'trailingAnnualDividendRate': None, 'open': 638, 'toCurrency': None, 'averageVolume10days': 3160600, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 625.16, 'currency': 'USD', 'trailingPE': 65.10102, 'regularMarketVolume': 4116874, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 278078619648, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 3514517, 'dayLow': 625.16, 'ask': 628, 'askSize': 1400, 'volume': 4116874, 'fiftyTwoWeekHigh': 646.84, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 463.41, 'bid': 628.1, 'tradeable': False, 'dividendYield': None, 'bidSize': 1200, 'dayHigh': 639.42, 'regularMarketPrice': 628.29, 'logo_url': 'https://logo.clearbit.com/netflix.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-04  109.000000  110.000000  ...          0             0
2016-01-05  110.449997  110.580002  ...          0             0
2016-01-06  105.290001  117.910004  ...          0             0
2016-01-07  116.360001  122.180000  ...          0             0
2016-01-08  116.330002  117.720001  ...          0             0
...                ...         ...  ...        ...           ...
2017-12-22  188.330002  190.949997  ...          0             0
2017-12-26  189.779999  189.940002  ...          0             0
2017-12-27  187.800003  188.100006  ...          0             0
2017-12-28  187.179993  194.490005  ...          0             0
2017-12-29  192.509995  193.949997  ...          0             0

[503 rows x 7 columns]

In [ ]:
aapl = aapl_table['Close']['2017']

In [124]:
nflx = nflx_table['Close']['2017']

In [125]:
print(nflx)

Date
2017-01-03    127.489998
2017-01-04    129.410004
2017-01-05    131.809998
2017-01-06    131.070007
2017-01-09    130.949997
                 ...
2017-12-22    189.940002
2017-12-26    187.759995
2017-12-27    186.240005
2017-12-28    192.710007
2017-12-29    191.960007
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [126]:
print(nflx['2017-3'])

Date
2017-03-01    142.649994
2017-03-02    139.529999
2017-03-03    139.139999
2017-03-06    141.940002
2017-03-07    141.429993
2017-03-08    140.320007
2017-03-09    140.529999
2017-03-10    140.889999
2017-03-13    143.520004
2017-03-14    143.190002
2017-03-15    145.250000
2017-03-16    144.389999
2017-03-17    145.110001
2017-03-20    145.830002
2017-03-21    142.419998
2017-03-22    142.649994
2017-03-23    141.839996
2017-03-24    142.020004
2017-03-27    144.059998
2017-03-28    145.169998
2017-03-29    146.470001
2017-03-30    148.059998
2017-03-31    147.809998
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [127]:
nflx['2017-2':'2017-4']

Date
2017-02-01    140.779999
2017-02-02    139.199997
2017-02-03    140.250000
2017-02-06    140.970001
2017-02-07    144.000000
                 ...
2017-04-24    143.830002
2017-04-25    152.160004
2017-04-26    150.169998
2017-04-27    153.080002
2017-04-28    152.199997
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [128]:
print(nflx.head(5))
print(nflx.tail(10))

Date
2017-01-03    127.489998
2017-01-04    129.410004
2017-01-05    131.809998
2017-01-06    131.070007
2017-01-09    130.949997
Name: Close, dtype: float64
Date
2017-12-15    190.119995
2017-12-18    190.419998
2017-12-19    187.020004
2017-12-20    188.820007
2017-12-21    188.619995
2017-12-22    189.940002
2017-12-26    187.759995
2017-12-27    186.240005
2017-12-28    192.710007
2017-12-29    191.960007
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [129]:
by_month = nflx.resample('M').mean()
print(by_month)

Date
2017-01-31    134.876001
2017-02-28    142.497370
2017-03-31    143.226956
2017-04-30    145.457895
2017-05-31    158.395001
2017-06-30    156.511364
2017-07-31    169.446500
2017-08-31    172.389564
2017-09-30    181.666501
2017-10-31    194.277727
2017-11-30    195.223333
2017-12-31    187.854501
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [130]:
by_week = nflx.resample('W').mean()
print(by_week.head())

Date
2017-01-08    129.945002
2017-01-15    130.843997
2017-01-22    135.790001
2017-01-29    139.686002
2017-02-05    140.432001
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [131]:
nflx.resample('M').max()

Date
2017-01-31    142.449997
2017-02-28    144.820007
2017-03-31    148.059998
2017-04-30    153.080002
2017-05-31    163.220001
2017-06-30    165.880005
2017-07-31    189.080002
2017-08-31    182.029999
2017-09-30    188.779999
2017-10-31    202.679993
2017-11-30    200.130005
2017-12-31    192.710007
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [132]:
three_day = nflx.resample('3D').mean()
two_week = nflx.resample('2W').mean()
two_month = nflx.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    129.570000
2017-01-06    131.070007
2017-01-09    130.446665
2017-01-12    131.439995
2017-01-15    132.889999
                 ...
2017-12-17    188.720001
2017-12-20    189.126668
2017-12-23           NaN
2017-12-26    188.903336
2017-12-29    191.960007
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    129.945002
2017-01-22    133.042221
2017-02-05    140.059001
2017-02-19    142.919002
2017-03-05    142.150001
2017-03-19    142.657001
2017-04-02    144.632999
2017-04-16    144.204446
2017-04-30    146.585999
2017-05-14    157.471001
2017-05-28    158.369000
2017-06-11    163.801112
2017-06-25    153.389000
2017-07-09    150.183333
2017-07-23    168.638000
2017-08-06    183.461000
2017-08-20    171.811998
2017-09-03    169.931000
2017-09-17    180.522224
2017-10-01    183.389000
2017-10-15    191.531000
2017-10-29    196.400000
2017-11-12    197.050999
2017-11-26    194.891112
2017-12-10    188.406999
2017-12-24    188.431000
2018-01-07    189.667503
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    134.876001
2017-03-31    142.896905
2017-05-31    152.399756
2017-07-31    162.670952
2017-09-30    176.704418
2017-11-30    194.739535
2018-01-31    187.854501
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [133]:
std = nflx.resample('W').std()
max = nflx.resample('W').max()
min = nflx.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08     1.919819
2017-01-15     1.729547
2017-01-22     3.139612
2017-01-29     1.847004
2017-02-05     0.769788
2017-02-12     1.586406
2017-02-19     0.851425
2017-02-26     0.562871
2017-03-05     1.919381
2017-03-12     0.663602
2017-03-19     0.922885
2017-03-26     1.640297
2017-04-02     1.710272
2017-04-09     1.589817
2017-04-16     0.595731
2017-04-23     2.826295
2017-04-30     3.764142
2017-05-07     0.775899
2017-05-14     1.863724
2017-05-21     2.785430
2017-05-28     2.827846
2017-06-04     1.047674
2017-06-11     3.325937
2017-06-18     0.505965
2017-06-25     2.229210
2017-07-02     3.283310
2017-07-09     1.872150
2017-07-16     3.441566
2017-07-23    10.586587
2017-07-30     2.685471
2017-08-06     1.118138
2017-08-13     4.976509
2017-08-20     2.124836
2017-08-27     1.462933
2017-09-03     3.744244
2017-09-10     2.250574
2017-09-17     1.334824
2017-09-24     1.661710
2017-10-01     1.407106
2017-10-08     9.254710
2017-10-15     1.863668
2017-10-22     3.581716
2017-10-29     2.683366
2017-11-05     1.367200
2017-11-12     3.040894
2017-11-19     1.582732
2017-11-26     1.030823
2017-12-03     5.476595
2017-12-10     1.813728
2017-12-17     1.950440
2017-12-24     1.321997
2017-12-31     3.156936
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    131.809998
2017-01-15    133.699997
2017-01-22    138.600006
2017-01-29    142.449997
2017-02-05    141.220001
2017-02-12    144.820007
2017-02-19    143.199997
2017-02-26    143.860001
2017-03-05    143.410004
2017-03-12    141.940002
2017-03-19    145.250000
2017-03-26    145.830002
2017-04-02    148.059998
2017-04-09    146.919998
2017-04-16    144.350006
2017-04-23    147.250000
2017-04-30    153.080002
2017-05-07    157.250000
2017-05-14    160.809998
2017-05-21    160.020004
2017-05-28    163.050003
2017-06-04    165.179993
2017-06-11    165.880005
2017-06-18    152.720001
2017-06-25    158.020004
2017-07-02    157.500000
2017-07-09    150.179993
2017-07-16    161.119995
2017-07-23    188.539993
2017-07-30    189.080002
2017-08-06    182.029999
2017-08-13    181.330002
2017-08-20    171.000000
2017-08-27    169.339996
2017-09-03    174.740005
2017-09-10    179.250000
2017-09-17    185.149994
2017-09-24    188.779999
2017-10-01    181.970001
2017-10-08    198.020004
2017-10-15    199.490005
2017-10-22    202.679993
2017-10-29    199.539993
2017-11-05    200.009995
2017-11-12    200.130005
2017-11-19    195.710007
2017-11-26    196.320007
2017-12-03    199.179993
2017-12-10    188.539993
2017-12-17    190.119995
2017-12-24    190.419998
2017-12-31    192.710007
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    127.489998
2017-01-15    129.179993
2017-01-22    132.889999
2017-01-29    137.389999
2017-02-05    139.199997
2017-02-12    140.970001
2017-02-19    140.820007
2017-02-26    142.600006
2017-03-05    139.139999
2017-03-12    140.320007
2017-03-19    143.190002
2017-03-26    141.839996
2017-04-02    144.059998
2017-04-09    143.110001
2017-04-16    142.919998
2017-04-23    139.759995
2017-04-30    143.830002
2017-05-07    155.350006
2017-05-14    156.380005
2017-05-21    153.199997
2017-05-28    157.160004
2017-06-04    162.990005
2017-06-11    158.029999
2017-06-18    151.440002
2017-06-25    152.050003
2017-07-02    149.410004
2017-07-09    146.169998
2017-07-16    152.669998
2017-07-23    161.699997
2017-07-30    182.679993
2017-08-06    179.229996
2017-08-13    169.139999
2017-08-20    166.089996
2017-08-27    165.949997
2017-09-03    167.119995
2017-09-10    174.520004
2017-09-17    181.740005
2017-09-24    184.619995
2017-10-01    178.550003
2017-10-08    177.009995
2017-10-15    194.949997
2017-10-22    194.160004
2017-10-29    192.470001
2017-11-05    196.429993
2017-11-12    192.020004
2017-11-19    192.119995
2017-11-26    194.100006
2017-12-03    186.820007
2017-12-10    184.039993
2017-12-17    185.729996
2017-12-24    187.020004
2017-12-31    186.240005
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [137]:
last_day = nflx.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    140.710007
2017-02-28    142.130005
2017-03-31    147.809998
2017-04-30    152.199997
2017-05-31    163.070007
2017-06-30    149.410004
2017-07-31    181.660004
2017-08-31    174.710007
2017-09-30    181.350006
2017-10-31    196.429993
2017-11-30    187.580002
2017-12-31    191.960007
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [134]:
monthly_return = nflx.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.103694
2017-02-28    0.009589
2017-03-31    0.036172
2017-04-30    0.035938
2017-05-31    0.049694
2017-06-30   -0.083318
2017-07-31    0.242800
2017-08-31   -0.040213
2017-09-30    0.037828
2017-10-31    0.109711
2017-11-30   -0.052626
2017-12-31    0.027513
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [135]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.03973189983402758
0.08606292745213415
0.24279952067964183

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [138]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28     1.419998
2017-03-31     5.679993
2017-04-30     4.389999
2017-05-31    10.870010
2017-06-30   -13.660004
2017-07-31    32.250000
2017-08-31    -6.949997
2017-09-30     6.639999
2017-10-31    15.079987
2017-11-30    -8.849991
2017-12-31     4.380005
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.010092
2017-03-31    0.039963
2017-04-30    0.029700
2017-05-31    0.071419
2017-06-30   -0.083768
2017-07-31    0.215849
2017-08-31   -0.038258
2017-09-30    0.038006
2017-10-31    0.083154
2017-11-30   -0.045054
2017-12-31    0.023350
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [139]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.010092
2017-03-31    0.039963
2017-04-30    0.029700
2017-05-31    0.071419
2017-06-30   -0.083768
2017-07-31    0.215849
2017-08-31   -0.038258
2017-09-30    0.038006
2017-10-31    0.083154
2017-11-30   -0.045054
2017-12-31    0.023350
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [140]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.010092
2017-02-28    0.010092
2017-03-31    0.039963
2017-04-30    0.029700
2017-05-31    0.071419
2017-06-30   -0.083768
2017-07-31    0.215849
2017-08-31   -0.038258
2017-09-30    0.038006
2017-10-31    0.083154
2017-11-30   -0.045054
2017-12-31    0.023350
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [141]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.010092
2017-03-31    0.039963
2017-04-30    0.029700
2017-05-31    0.071419
2017-06-30   -0.083768
2017-07-31    0.215849
2017-08-31   -0.038258
2017-09-30    0.038006
2017-10-31    0.083154
2017-11-30   -0.045054
2017-12-31    0.023350
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [142]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [143]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    189.940002
2017-12-26    187.759995
2017-12-27    186.240005
2017-12-28    192.710007
2017-12-29    191.960007
Name: Close, dtype: float64
Date
2017-12-22     3878900
2017-12-26     3045700
2017-12-27     4002100
2017-12-28    10107400
2017-12-29     5187600
Name: Volume, dtype: int64

In [145]:
df = nflx_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    189.940002
2017-12-26    187.759995
2017-12-27    186.240005
2017-12-28    192.710007
2017-12-29    191.960007
Name: Close, dtype: float64
Date
2017-12-22     3878900
2017-12-26     3045700
2017-12-27     4002100
2017-12-28    10107400
2017-12-29     5187600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [148]:
nflx_2016 = df['2016']
nflx_month = nflx_2016.resample('M').agg(lambda x: x[-1])
print(nflx_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-31   92.000000   94.389999  ...          0             0
2016-02-29   94.809998   97.199997  ...          0             0
2016-03-31  102.430000  103.529999  ...          0             0
2016-04-30   90.500000   90.559998  ...          0             0
2016-05-31  102.949997  103.449997  ...          0             0
2016-06-30   90.910004   91.720001  ...          0             0
2016-07-31   91.190002   91.750000  ...          0             0
2016-08-31   97.480003   97.879997  ...          0             0
2016-09-30   96.900002   99.529999  ...          0             0
2016-10-31  126.849998  126.900002  ...          0             0
2016-11-30  119.000000  120.370003  ...          0             0
2016-12-31  126.239998  126.570000  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [149]:
nflx_bar = nflx_month[['Open', 'High', 'Low', 'Close']]
print(nflx_bar)

                  Open        High         Low       Close
Date
2016-01-31   92.000000   94.389999   90.629997   91.839996
2016-02-29   94.809998   97.199997   93.339996   93.410004
2016-03-31  102.430000  103.529999  101.050003  102.230003
2016-04-30   90.500000   90.559998   88.209999   90.029999
2016-05-31  102.949997  103.449997  102.129997  102.570000
2016-06-30   90.910004   91.720001   89.900002   91.480003
2016-07-31   91.190002   91.750000   90.589996   91.250000
2016-08-31   97.480003   97.879997   96.760002   97.449997
2016-09-30   96.900002   99.529999   96.790001   98.550003
2016-10-31  126.849998  126.900002  124.400002  124.870003
2016-11-30  119.000000  120.370003  116.389999  117.000000
2016-12-31  126.239998  126.570000  123.599998  123.800003

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [150]:
print(nflx_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2016-03-31  102.430000  103.529999  101.050003  102.230003
2016-04-30   90.500000   90.559998   88.209999   90.029999
2016-05-31  102.949997  103.449997  102.129997  102.570000
2016-06-30   90.910004   91.720001   89.900002   91.480003

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [151]:
import numpy as np

above = nflx_bar[nflx_bar.Close > np.mean(nflx_bar.Close)]
print(above)

                  Open        High         Low       Close
Date
2016-03-31  102.430000  103.529999  101.050003  102.230003
2016-05-31  102.949997  103.449997  102.129997  102.570000
2016-10-31  126.849998  126.900002  124.400002  124.870003
2016-11-30  119.000000  120.370003  116.389999  117.000000
2016-12-31  126.239998  126.570000  123.599998  123.800003

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [152]:
nflx_bar['rate_return'] = nflx_bar.Close.pct_change()
print(nflx_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31   92.000000   94.389999   90.629997   91.839996          NaN
2016-02-29   94.809998   97.199997   93.339996   93.410004     0.017095
2016-03-31  102.430000  103.529999  101.050003  102.230003     0.094422
2016-04-30   90.500000   90.559998   88.209999   90.029999    -0.119339
2016-05-31  102.949997  103.449997  102.129997  102.570000     0.139287
2016-06-30   90.910004   91.720001   89.900002   91.480003    -0.108121
2016-07-31   91.190002   91.750000   90.589996   91.250000    -0.002514
2016-08-31   97.480003   97.879997   96.760002   97.449997     0.067945
2016-09-30   96.900002   99.529999   96.790001   98.550003     0.011288
2016-10-31  126.849998  126.900002  124.400002  124.870003     0.267073
2016-11-30  119.000000  120.370003  116.389999  117.000000    -0.063026
2016-12-31  126.239998  126.570000  123.599998  123.800003     0.058120

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [153]:
missing =nflx_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [154]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [155]:
drop = nflx_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = nflx_bar.fillna(0)
print(fill)

                  Open        High         Low       Close  rate_return
Date
2016-02-29   94.809998   97.199997   93.339996   93.410004     0.017095
2016-03-31  102.430000  103.529999  101.050003  102.230003     0.094422
2016-04-30   90.500000   90.559998   88.209999   90.029999    -0.119339
2016-05-31  102.949997  103.449997  102.129997  102.570000     0.139287
2016-06-30   90.910004   91.720001   89.900002   91.480003    -0.108121
2016-07-31   91.190002   91.750000   90.589996   91.250000    -0.002514
2016-08-31   97.480003   97.879997   96.760002   97.449997     0.067945
2016-09-30   96.900002   99.529999   96.790001   98.550003     0.011288
2016-10-31  126.849998  126.900002  124.400002  124.870003     0.267073
2016-11-30  119.000000  120.370003  116.389999  117.000000    -0.063026
2016-12-31  126.239998  126.570000  123.599998  123.800003     0.058120

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31   92.000000   94.389999   90.629997   91.839996     0.000000
2016-02-29   94.809998   97.199997   93.339996   93.410004     0.017095
2016-03-31  102.430000  103.529999  101.050003  102.230003     0.094422
2016-04-30   90.500000   90.559998   88.209999   90.029999    -0.119339
2016-05-31  102.949997  103.449997  102.129997  102.570000     0.139287
2016-06-30   90.910004   91.720001   89.900002   91.480003    -0.108121
2016-07-31   91.190002   91.750000   90.589996   91.250000    -0.002514
2016-08-31   97.480003   97.879997   96.760002   97.449997     0.067945
2016-09-30   96.900002   99.529999   96.790001   98.550003     0.011288
2016-10-31  126.849998  126.900002  124.400002  124.870003     0.267073
2016-11-30  119.000000  120.370003  116.389999  117.000000    -0.063026
2016-12-31  126.239998  126.570000  123.599998  123.800003     0.058120

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [156]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'NFLX')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'NVAX')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     NFLX    NVAX
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [158]:
df_volume = nflx_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = nflx_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

             Volume  Stock Splits
Date
2016-10-31  6517500             0
2016-11-30  7715100             0
2016-12-31  4455400             0
2017-01-31  4411600             0
2017-02-28  3862200             0
2017-03-31  3888200             0
2017-04-30  6366200             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  126.849998  126.900002  124.400002  124.870003
2016-11-30  119.000000  120.370003  116.389999  117.000000
2016-12-31  126.239998  126.570000  123.599998  123.800003
2017-01-31  140.550003  141.830002  139.699997  140.710007
2017-02-28  143.300003  143.570007  141.850006  142.130005
2017-03-31  148.000000  148.229996  147.330002  147.809998
2017-04-30  152.710007  152.970001  150.940002  152.199997

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [159]:
concat = pd.concat([nflx_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                  Open        High  ...   Volume  Stock Splits
Date                                ...
2016-10-31  126.849998  126.900002  ...  6517500             0
2016-11-30  119.000000  120.370003  ...  7715100             0
2016-12-31  126.239998  126.570000  ...  4455400             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [160]:
append = nflx_bar.append(df_2017)
print(append)

                  Open        High         Low       Close  rate_return
Date
2016-01-31   92.000000   94.389999   90.629997   91.839996          NaN
2016-02-29   94.809998   97.199997   93.339996   93.410004     0.017095
2016-03-31  102.430000  103.529999  101.050003  102.230003     0.094422
2016-04-30   90.500000   90.559998   88.209999   90.029999    -0.119339
2016-05-31  102.949997  103.449997  102.129997  102.570000     0.139287
2016-06-30   90.910004   91.720001   89.900002   91.480003    -0.108121
2016-07-31   91.190002   91.750000   90.589996   91.250000    -0.002514
2016-08-31   97.480003   97.879997   96.760002   97.449997     0.067945
2016-09-30   96.900002   99.529999   96.790001   98.550003     0.011288
2016-10-31  126.849998  126.900002  124.400002  124.870003     0.267073
2016-11-30  119.000000  120.370003  116.389999  117.000000    -0.063026
2016-12-31  126.239998  126.570000  123.599998  123.800003     0.058120
2016-10-31  126.849998  126.900002  124.400002  124.870003          NaN
2016-11-30  119.000000  120.370003  116.389999  117.000000          NaN
2016-12-31  126.239998  126.570000  123.599998  123.800003          NaN
2017-01-31  140.550003  141.830002  139.699997  140.710007          NaN
2017-02-28  143.300003  143.570007  141.850006  142.130005          NaN
2017-03-31  148.000000  148.229996  147.330002  147.809998          NaN
2017-04-30  152.710007  152.970001  150.940002  152.199997          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [161]:
concat = pd.concat([nflx_bar, df_2017], axis = 0)
print(concat)

                  Open        High         Low       Close  rate_return
Date
2016-01-31   92.000000   94.389999   90.629997   91.839996          NaN
2016-02-29   94.809998   97.199997   93.339996   93.410004     0.017095
2016-03-31  102.430000  103.529999  101.050003  102.230003     0.094422
2016-04-30   90.500000   90.559998   88.209999   90.029999    -0.119339
2016-05-31  102.949997  103.449997  102.129997  102.570000     0.139287
2016-06-30   90.910004   91.720001   89.900002   91.480003    -0.108121
2016-07-31   91.190002   91.750000   90.589996   91.250000    -0.002514
2016-08-31   97.480003   97.879997   96.760002   97.449997     0.067945
2016-09-30   96.900002   99.529999   96.790001   98.550003     0.011288
2016-10-31  126.849998  126.900002  124.400002  124.870003     0.267073
2016-11-30  119.000000  120.370003  116.389999  117.000000    -0.063026
2016-12-31  126.239998  126.570000  123.599998  123.800003     0.058120
2016-10-31  126.849998  126.900002  124.400002  124.870003          NaN
2016-11-30  119.000000  120.370003  116.389999  117.000000          NaN
2016-12-31  126.239998  126.570000  123.599998  123.800003          NaN
2017-01-31  140.550003  141.830002  139.699997  140.710007          NaN
2017-02-28  143.300003  143.570007  141.850006  142.130005          NaN
2017-03-31  148.000000  148.229996  147.330002  147.809998          NaN
2017-04-30  152.710007  152.970001  150.940002  152.199997          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [162]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([nflx_bar, df_2017], axis = 0)
print(concat)

                  Open        High  ...  rate_return      Change
Date                                ...
2016-01-31   92.000000   94.389999  ...          NaN         NaN
2016-02-29   94.809998   97.199997  ...     0.017095         NaN
2016-03-31  102.430000  103.529999  ...     0.094422         NaN
2016-04-30   90.500000   90.559998  ...    -0.119339         NaN
2016-05-31  102.949997  103.449997  ...     0.139287         NaN
2016-06-30   90.910004   91.720001  ...    -0.108121         NaN
2016-07-31   91.190002   91.750000  ...    -0.002514         NaN
2016-08-31   97.480003   97.879997  ...     0.067945         NaN
2016-09-30   96.900002   99.529999  ...     0.011288         NaN
2016-10-31  126.849998  126.900002  ...     0.267073         NaN
2016-11-30  119.000000  120.370003  ...    -0.063026         NaN
2016-12-31  126.239998  126.570000  ...     0.058120         NaN
2016-10-31         NaN  126.900002  ...          NaN  126.849998
2016-11-30         NaN  120.370003  ...          NaN  119.000000
2016-12-31         NaN  126.570000  ...          NaN  126.239998
2017-01-31         NaN  141.830002  ...          NaN  140.550003
2017-02-28         NaN  143.570007  ...          NaN  143.300003
2017-03-31         NaN  148.229996  ...          NaN  148.000000
2017-04-30         NaN  152.970001  ...          NaN  152.710007

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.